body {
    font-family: rubik;
}
div {
    padding: 10px;
    border-radius: 10px;
    margin: 2px;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3px;
    label {
        font-weight: bold;
        flex-basis: 20%;
        text-align: right;
        margin: 0 2px;
    }

    input[type="text"] {
        margin: 2px;
        flex-basis: 75%;
    }
    textarea {
        flex-basis: 75%;
        margin: 5px;
    }
}
