body {
    font-family: "Rubik";
}
.container {
    margin-top:25px;
}
.card {
    width:50%;
    margin:0 auto;
    label {
        display:block;
    }
}
.form-group {
    margin-top:10px;
}
.menupage {
    display:flex;
    justify-content: space-between;
}
.menu {
    width: 45%;
    border:1px solid #ccc;
    border-radius: 5px;
    padding:10px;
    position: relative;

    h2 {
        border-radius: 5px;
        font-size:1.5em;
        font-weight:bold;
        text-transform:uppercase;
    }

    .title {
        text-align: center;
        background-color:#eee;
        padding:5px;
        margin: -10px -10px 0;
    }

    .category {
        text-align:center;
        background-color:#d5cedf;
        padding:5px 0;
        margin: 0 -10px;
        h3 {
            font-size:1.15em;
            font-weight:bold;
            font-variant: small-caps;
        }
        h4 {
            text-align: left;
            font-size:1.15em;
            margin:0 15px;
            font-style: italic;
        }
    }
    a {
        color:#171758;
        border:1px solid #eee;
        display:block;
        padding:10px 5px;
        border-radius: 5px;
        text-decoration: none;
        margin:2px 0;
    }
    a:hover {
        text-decoration: none;
        background-color:#ddd;
    }
    .item { 
        display:flex;
        justify-content: space-between;
        span {
            margin-right:10px;
            font-weight: 500;
            font-size:1.1em;
        }
    }
    .option { 
        display:flex;
        justify-content: space-between;
        span {
            margin-right:10px;
            font-size:1.1em;
        }
    }    
}

.order {
    width:45%;
    padding:10px;
    border: 1px solid #333;
    border-radius: 5px;
    text-align:center;

    h2 {
        text-align: center;
        background-color:#eee;
        padding:5px;
        font-weight: bold;
        margin:-10px -10px 10px;
        font-size:1.7em;
        border-radius: 5px;
        }

    dl {
        margin-top:15px;
        border-top:1px solid #aaa;
        padding-top:10px;
    }
    dt {
        margin:0;
    }
    dd {
        margin:0;
    }
    label {
        margin:0;
    }    
    .choices {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        margin-bottom:5px;
        margin-left:10px;


    }
}

input.qty {
    width:40px;
}


.lang {
    color: #ddd;
    padding:0 15px;
}

.tipmsg {
    margin:10px 25px;
    line-height: .9em;
}