body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}
.container {
    margin-top:25px;
}
.container, .container-sm, .container-md {
    max-width: 98%;
    padding-left:2px;
    padding-right:2px;
}
.navbar {
    padding:.2rem 1rem !important;
}
.apphead {
    flex-wrap: nowrap;
    justify-content: space-between;
    display:flex;
    align-items: center;
    width:100%;
}
.card {
    width:50%;
    margin:0 auto;
    label {
        display:block;
    }
}
.form-group {
    margin-top:10px;
}
.menupage {
    display:flex;
    justify-content: space-between;
}
.menu {
    width: 48%;
    position: relative;

    h2 {
        border-radius: 5px;
        font-size:1.5em;
        font-weight:bold;
        text-transform:uppercase;
    }

    .title {
        text-align: center;
        background-color:#eee;
        padding:2px;
    }

    .category {
        text-align:center;
        background-color:#d5cedf;
        padding:5px 0;
        margin: 0;
        h3 {
            font-size:1.15em;
            font-weight:bold;
            font-variant: small-caps;
        }
        h4 {
            text-align: left;
            font-size:1.15em;
            margin:0 15px;
            font-style: italic;
        }
    }
    a {
        color:#171758;
        border:1px solid #eee;
        display:block;
        padding:5px;
        border-radius: 5px;
        text-decoration: none;
        margin:2px 0;
        p {
            margin-bottom:4px;
        }        
    }
    a:hover {
        text-decoration: none;
        background-color:#ddd;
    }
    .item { 
        display:flex;
        justify-content: space-between;
        span {
            margin-right:2px;
            font-weight: 500;
            font-size:1.1em;
        }
    }
    .option { 
        display:flex;
        justify-content: space-between;
        span {
            margin-right:10px;
            font-size:1.1em;
        }
    }    
}

.order {
    width:48%;
    padding:10px;
    border: 1px solid #333;
    border-radius: 5px;
    text-align:center;
    margin:0 auto;

    h2 {
        text-align: center;
        background-color:#eee;
        padding:5px;
        font-weight: bold;
        margin:-10px -10px 10px;
        font-size:1.7em;
        border-radius: 5px;
        }

    dl {
        margin-top:15px;
        border-top:1px solid #aaa;
        padding-top:10px;
    }
    dt {
        margin:0;
    }
    dd {
        margin:0;
    }
    label {
        margin:0;
    }    
    .choices {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        margin-bottom:5px;
        margin-left:10px;


    }
}

input.qty {
    width:40px;
}


.lang {
    color: #ddd;
    padding:0 15px;
}

.tipmsg {
    margin:10px 25px;
    line-height: .9em;
}

.card {
    width:75%;
}
.remove {
    color:#ff0000;
    font-weight: bold;
    font-size:1.1em;
    margin-left:10px;
}
