body {
    margin: 5px;
}
div {
    margin: 2px;
    padding: 2px;
}
.footer {
    margin-top: 10px;
    border-top: 1px solid #ccc;
}

.content {
    display: block;
    flex-basis: 50%;
    p {
        margin: 0 0 0 5px;
        padding: 5px;
    }
}

label {
    margin: 5px 5px 0 5px;
    font-weight: bold;
}
.top-level {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;

    .sub-level {
        display: flex;
        flex-wrap: nowrap;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left: 10px;
        align-items: center;
        flex-basis: 100%;

        a {
            display: block;
        }
    }

    a {
        background-color: #eee;
        margin-right: 15px;
        flex-basis: 25%;
        color: #000;
        border: 1px solid #aaa;

        p {
            margin: 0 0 0 10px;
        }
    }
    a:hover {
        background-color: #ddd;
        text-decoration: none;
    }
}

.newform {
    border: 1px solid rgb(83, 80, 83);
    background-color: rgb(220, 232, 241);
    border-radius: 5px;
    padding: 5px;
}
.editform {
    border: 1px solid rgb(83, 80, 83);
    background-color: rgb(241, 241, 220);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    font-size: 1.2rem;
}
